.container {
  display: flex;
  align-items: center;
}

.content {
  flex: 0 0 30%;
}

.list {
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.links {
  display: flex;
  align-items: center;
}

.githubIcon {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all 0.3s;
}

.githubIcon:hover {
  transform: scale(1.2);
}

.imageContainer {
  margin-bottom: var(--gutter-normal);
}

/* Media Queries */
@media (min-width: 901px) {
  .imageContainer {
    flex: 1;
    margin: 0 0 0 10rem;
  }
}

@media (max-width: 900px) {
  .container {
    align-items: initial;
    flex-direction: column-reverse;
  }

  .githubIcon {
    height: 4rem;
  }
}
