@import './variables.css';
@import './reset.css';

/* Utility Classes */
.row {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--gutter-normal);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--pink);
  font-weight: 400;
}

.btn--pink {
  background: var(--pink);
  transition: all 0.2s;
}
