.header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url('../../../public/assets/binary.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  line-height: 1;
  font-size: var(--font-size-huge);
  font-weight: 400;
  font-family: var(--font-stack-heading);
  color: var(--white);
}

.description {
  margin: 1.5rem 0 3.5rem;
  max-width: var(--container-medium-width);
  font-family: var(--font-stack-heading);
  font-size: var(--font-size-medium);
}
